html {
  font-family: "Bebas Neue", cursive;
  color: rgb(212, 255, 0);
  box-sizing: border-box;
  background-color: rgb(149, 149, 149);
}
li {
  list-style: none;
}
.center {
  color: rgb(255, 255, 255);
  text-align: center;
}

ol {
  background-color: rgb(28, 28, 28);
  padding: 20px;
  margin: 0 auto;
  width: 50%;
  border: 2px dashed rgb(162, 120, 120);
  border-radius: 10%;
}
h3 {
  background-color: rgb(194, 3, 3);
}
