html{ font-family: 'Bebas Neue', cursive;
color: blue;}
li {
    list-style: none;
}
.center {
    text-align: center;
}

ol {
    background-color: aquamarine;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    border: 5px dashed black;
    border-top: 0px;
    border-radius: 25%;
}